<!-- views/lognotes/edit.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Log</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Edit Log <%= lognote.id %></h1>

    <form action="/lognotes/<%= lognote._id %>?_method=PUT" method="POST">

        <label for="description">Decription:</label>
        <textarea
            name="description"
            name="decription"
            id="description"
        ><%= lognote.description %></textarea>
        <br>

        <label for="contactName">Contact name:</label>
        <input
            type="text"
            name="contactName"
            id="contactName"
            value="<%= lognote.contactName %>"
        >
        <br>

        <label for="contactType">Internal or external contact:</label>
        <select name="contactType" id="contactType">
            <option value="internal">Internal</option>
            <option value="external">External</option>
        </select>
        <br>

        <label for="locationName">Location:</label>
        <input
            type="text"
            name="locationName"
            id="locationName"
            value="<%= lognote.locationName %>"
        >
        <br>

        <label for="locationType">Location type:</label>
        <select name="locationType" id="locationType">
            <option
                value="plant"
                <%= lognote.locationType === 'plant' ? 'selected' : '' %>
            >Plant</option>
            
            <option
                value="pipeline"
                <%= lognote.locationType === 'pipeline' ? 'selected' : '' %>
            >Pipeline</option>

            <option
                value="customer"
                <%= lognote.locationType === 'customer' ? 'selected' : '' %>
            >Customer</option>

            <option
                value="other"
                <%= lognote.locationType === 'other' ? 'selected' : '' %>
            >Other</option>
        </select>
        <br>

        <label for="product">Product</label>
        <select name="product" id="product">
            <option
                value="oxygen"
                <%= lognote.product === 'oxygen' ? 'selected' : '' %>
            >Oxygen</option>

            <option
                value="nitrogen"
                <%= lognote.product === 'nitrogen' ? 'selected' : '' %>
            >Nitrogen</option>

            <option
                value="hydrogen"
                <%= lognote.product === 'hydrogen' ? 'selected' : '' %>
            >Hydrogen</option>

        </select>
        <br>

        <button type="submit">Save updates</button>

    </form>
    <br>

    <form action="/lognotes/">
        <button type="submit">Cancel</button>
    </form>

</body>

</html>