<!-- views/lognotes/show.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Note</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    
    <h1>Integrated Log Book Application</h1>
    
    <form action="/lognotes/" method="POST">
        <button type="submit">Back to log notes</button>
    </form>

    <p>
        contact name: <%= lognote.contactName %>
        <br>
        contact type: <%= lognote.contactType %>
        <br>
        product: <%= lognote.product %>
        <br>
        location: <%= lognote.locationName %>
        <br>
        location type: <%= lognote.locationType %>
        <br>
        description: <%= lognote.description %>
        <br>
    </p>

    <form action="/lognotes/<%= lognote._id %>/edit">
        <button type="submit">Edit this log</button>
    </form>
    <br>

    <form action="/lognotes/<%= lognote._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this log</button>
    </form>

</body>

</html>