<!-- views/lognotes/show.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Note</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    
    <h1>Integrated Log Book Application</h1>
    
    <p>contact name: <%= lognote.contactName %>
    <br>
    contact type: <%= lognote.contactType %>
    <br>
    product: <%= lognote.product %>
    <br>
    location: <%= lognote.locationName %>
    <br>
    location type: <%= lognote.locationType %>
    <br>
    description: <%= lognote.description %>
    <br>
    </p>

    <a href="/lognotes/<%= lognote._id %>/edit">Edit this log</a>
    <br>

    <form action="/lognotes/<%= lognote._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this log</button>
    </form>

</body>

</html>